<div class="header">
	<div class="header_inner">
		ヘッダー
	</div>
</div>
<div class="main">
	<div class="main_inner">
		<div class="part_desc">
			説明
		</div>
		<div class="part_problem">
			悩みありませんか？
		</div>
		<div class="part_success">
			先輩たちの成功体験
		</div>
		<div class="part_flow">
			留学の流れ
		</div>
		<div class="part_plan">
			プランの説明
		</div>
		<div class="part_options">
			<div class="part_options_movie">
				動画一覧
				<%= link_to 'もっとみる', videos_path %>
			</div>
			<div class="part_options_staying">
				お店一覧
				<%= link_to 'もっとみる', shops_path %>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="footer_inner">
		フッター
	</div>
</div>

<%- content_for :add_js do %>
  <script>
	  console.log('テスト');
  </script>
<%- end %>
