<ul class="videoList">
	<%- videos.each do |video| %>
		<li>
			<a href="<%= video_detail_path(shop_id: video.shop_id, video_id: video.id) %>">
				<%= image_tag video.thumb_mini_path %>
				<p><%= truncate(video.description, length: 20) %></p>
			</a>
		</li>
	<%- end %>
</ul>
