<div class="shopIndex">
	<h2>お店を探す</h2>

	<ul>
		<%- 8.times do %>
			<li>
				<img src="https://placehold.jp/500x800.png">
				<h3>店舗名</h3>
				<p>場所</p>
				<p>紹介文章です紹介文章です紹介文章です紹介文章です紹介文章です紹介文章です紹介文章です紹介文章です紹介文章です</p>
			</li>
		<%- end %>
	</ul>
</div>
