<div class="shopList_inner">

	<div class="shop_headline">
		<img src="https://genkosha.pictures/wp-content/uploads/2018/06/0123.jpg" alt="店舗の写真" class="shop_headline_img">
		<div class="shop_headline_desc">
			<p class="el_text">
				<span>店舗名</span>
				<span>場所</span>
			</p>
			<p class="el_introduction">紹介文</p>
		</div>
	</div>

</div>
