<div class="shopIndex">
	<h2>お店を探す</h2>

	<ul>
		<%- Shop.all.each do |shop| %>
			<li>
				<%= image_tag shop.image_path %>
				<h3><%= shop.name %></h3>
				<p><%= shop.address %></p>
				<p><%= shop.description %></p>
			</li>
		<%- end %>
	</ul>
</div>
