<div class="videoDetail">
	<div class="videoDetail_head">
		<p>〇〇店〇〇さん</p>
		<h2>動画タイトル</h2>
	</div>

	<div class="videoDetail_video">

	</div>

	<section class="videoDetail_point">
		<h3>学べる3つのポイント</h3>
		<ul>
			<li>ポイント１</li>
			<li>ポイント２</li>
			<li>ポイント３</li>
		</ul>
	</section>

	<section class="videoDetail_cta">
		<a href="" class="cvBtn">動画を購入する</a>
	</section>

	<section class="videoDetail_other">
		<h3>〇〇さんの他の動画</h3>
		<ul class="videoList">
			<%- 5.times do %>
			<li>
				<img src="https://placehold.jp/150x150.png">
				<p>紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文紹介文</p>
			</li>
				<%- end %>
		</ul>
	</section>

</div>
