@import "variable";

//@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700&display=swap');

body {
	color: $color-baseText;
	font-family: 'YuMincho', serif;
	line-height: 1.5;
	background-color: #C6DEF3;
}

* {
	box-sizing: border-box;
}

a {
	display: inline-block;
}

.container {
	max-width: 375px;
	width: 100%;
	margin: 0 20% 0 auto;
	background-color: #fff;
}
