@import "variable";

//@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700&display=swap');

body {
	color: $color-baseText;
	font-family: 'YuMincho', serif;
	line-height: 1.5;
	background-image: image-url("back_img.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-size: 13px;
	position: relative;


	.movie_button{
		display: block;
		position: fixed;
		width: 150px;
		height: 150px;
		top: 564px;
		left: 10%;
		@media screen and (max-width: 900px) {
			display: none;
		}
	}

	.shop_button{
		display: block;
		position: fixed;
		width: 150px;
		height: 150px;
		top: 564px;
		left: 23%;
		@media screen and (max-width: 900px) {
			display: none;
		}
	}
}

* {
	box-sizing: border-box;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}

.container {
	max-width: 390px;
	width: 100%;
	margin: 0 20% 0 auto;
	background-color: #fff;
	position: relative;
	margin-bottom: -20px;
	@media screen and (min-width: 376px) {
		padding: 0 7px;
	}
}
