@import "variable";

//------------------　一覧画面　-------------------
.shopIndex {
	padding: 20px 4%;
	border-top: 20px solid $color-accent;

	h2 {
		text-align: center;
		margin-bottom: 20px;
		img {
			width: 100px;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		li {
			width: 48%;
			margin: 0 4% 5% 0;

			&:nth-child(even) {
				margin-right: 0;
			}

			img {
				width: 100%;
				aspect-ratio: 1 / 1.2;
				object-fit: cover;
				border-radius: 10px;
			}

			h3 {
				color: $color-gold;
				font-weight: bold;
				margin-bottom: 10px;
			}

			.address {
				font-size: 10px;
				font-weight: bold;
				padding-bottom: 5px;
				margin-bottom: 5px;
				border-bottom: 1px solid $color-baseText;
			}
		}
	}
}

//------------------　詳細画面　-------------------
.shopDetail {
	&_head {
		min-height: 400px;

		&_shopImgContainer {
			position: relative;
			.el_shopImg{
				width: 100%;
				aspect-ratio: 4 / 3;
			}
		}
		&_catchcopyContainer{
			position: absolute;
			top: 300px;
			left: 10px;
			z-index: 10;

			.el_catchcopy{
			}
			.el_name{

			}
		}
		&_shopkeeperImg{
			position: absolute;
			top: 150px;
			right: 10px;
			width: 150px;
			height: 200px;
			object-fit: cover;
		}
	}

	&_profile {
		margin: 0 10px 20px;
		background-color: #999999;
		&_title{

		}
		&_conatiner{

		}
	}

	&_desc {
		margin: 0 10px 20px;
		background-color: #999999;
		.el_desc{

		}
		.el_img{
			width: 100%;
		}
	}

	&_movie {
		margin: 0 10px 20px;
		background-color: #999999;

		&_title{

		}
		&_container{
			.movieContainer_parts{
				.el_img{

				}
				.el_desc{

				}
			}
		}
	}

	&_studying {
		margin: 0 10px 20px;
		background-color: #999999;
		&_title{

		}
	}

	&_curriculum {
		margin: 0 10px 20px;
		background-color: #999999;
		&_title{

		}
	}
}

