@import "variable";

//------------------　一覧画面　-------------------
.shopIndex {
	padding: 20px 4%;
	border-top: 20px solid $color-accent;

	h2 {
		text-align: center;
		margin-bottom: 20px;
		img {
			width: 100px;
		}
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		li {
			width: 48%;
			margin: 0 4% 5% 0;

			&:nth-child(even) {
				margin-right: 0;
			}

			img {
				width: 100%;
				aspect-ratio: 1 / 1.2;
				object-fit: cover;
				border-radius: 10px;
			}

			h3 {
				color: $color-gold;
				font-weight: bold;
				margin-bottom: 10px;
			}

			.address {
				font-size: 10px;
				font-weight: bold;
				padding-bottom: 5px;
				margin-bottom: 5px;
				border-bottom: 1px solid $color-baseText;
			}
		}
	}
}

//------------------　詳細画面　-------------------
.shopDetail {
	&_head {
		min-height: 400px;

		&_shopImgContainer {
			position: relative;
			.el_shopImg{
				width: 100%;
				aspect-ratio: 4 / 3;
			}
		}
		&_catchcopyContainer{
			position: absolute;
			top: 300px;
			left: 10px;
			z-index: 10;

			.el_catchcopy{
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 5px;
				width: 80%;
				text-shadow: 1px 1px #fff;
			}
			.el_name{
				font-weight: bold;
			}
		}
		&_shopkeeperImg{
			position: absolute;
			top: 150px;
			right: 10px;
			width: 150px;
			height: 200px;
			object-fit: cover;
			border-radius: 10px;
		}
	}

	&_profile {
		margin: 0 0 20px;
		background-color: #F9F3CE;

		&_inner {
			padding: 20px;
		}

		&_title{
			margin-bottom: 10px;
		}
		&_conatiner{

		}
	}

	&_desc {
		margin: 0 20px 20px;
		.el_desc{
			}
		.el_img{
			width: 100px;
			float: right;
			margin-left: 10px;
		}
	}

	&_movie {
		margin: 0 0 20px;
		background-color: #FFE2FF;

		&_inner {
			padding: 20px 10px;
			text-align: center;
		}

		&_title{
			text-align: center;
			font-size: 16px;
			margin-bottom: 20px;
		}
		&_container{
			.videoList {
				width: 90%;
				margin: auto;
			}

		}
		.moreBtn {
			font-size: 16px;
			border-bottom: 1px solid;
		}
	}

	&_studying {
		margin: 0 10px 40px;

		&_title{
			text-align: center;
			font-size: 16px;
			margin-bottom: 20px;
			border-bottom: 1px solid #868686;
			padding-bottom: 7px;
		}

		.imageList {
			display: flex;
			margin-bottom: 20px;

			li {
				width: 100%;

				img {
					width: 100%;
				}
			}
		}

		&_points {
			text-align: center;
			p {
				font-weight: bold;
				margin-bottom: 10px;
			}
		}
	}

	&_curriculum {
		padding: 0 20px 20px;

		&_title{
			text-align: center;
			font-size: 16px;
			margin-bottom: 20px;
			border-bottom: 1px solid #868686;
			padding-bottom: 7px;
		}

		&_container {
			margin-bottom: 20px;

			.curriculum_parts {
				margin-bottom: 10px;
			}
		}

		&_cta {
			text-align: center;
		}
	}
}

