//---------------------header---------------------
.header{
	&_inner{
		margin-bottom: 15px;
		.el_img{
			width: 100%;
			aspect-ratio: 1440.01 / 945.02;
		}
	}
}

//---------------------main---------------------
.main{
	&_inner{
		.part_desc{
			display: flex;
			.el_img{
				width: 10%;
				object-fit: cover;
			}

			.el_title{
				font-size: 25px;
				text-align: center;
				margin: 30px 0;
			}
			.el_text{
				font-size: 15px;
				width: 90%;
				margin: 15px auto 35px;
				text-align: center;
				line-height: 28px;
			}
		}

		.part_problem{
			background-color: #F9F3CE;
			overflow: hidden;
			.el_title{
				font-size: 18px;
				text-align: center;
				margin: 30px 0;
			}
			&_container{
				display: flex;
				justify-content: center;
				gap: 0 10px;
				margin: 40px 0;

				.el_img{
					width: 28%;
					aspect-ratio: 338.83 / 338.82;
				}
			}
		}

		.part_options{
			.el_titleImg{
				display: block;
				margin: 20px auto;
				max-width: 200px;
				aspect-ratio: 458.54 / 86.09;
			}

			&_container{
				display: flex;
				justify-content: center;
				gap: 0 50px;
				margin-bottom: 35px;

				.el_img{
					max-width: 130px;
					aspect-ratio: 413.36 / 413.37;
				}
			}


		}

		.part_success{
			background-color: #FFE2FF;
			height: 300px;
			overflow: hidden;

			.el_titleImg{
				display: block;
				width: 80%;
				margin: 20px auto;
				aspect-ratio: 905.91 / 174.47;
			}

			&_container{
				display: flex;
				justify-content: center;
				gap: 0 20px;
				margin-right: 15px;
				margin-bottom: 10px;

				.success_option{
					.img_container{
						position: relative;

						&::before{
							position: absolute;
							top: 10px;
							left: 10px;
							content: '';
						}
					}
					.card{
						position: relative;
						perspective: 500px;

						&Size{
							width: 100px;
							height: 120px;
						}
					}

					.tg1{
						#omote{
							background-image: image-url("top/success1.png");
							background-position: center center;
							background-repeat: no-repeat;
							background-attachment: fixed;
							background-size: cover;
						}

						#ura{
							background-image: image-url("shops/milk/main.jpeg");
							background-position: center center;
							background-repeat: no-repeat;
							background-attachment: fixed;
							background-size: cover;
						}
					}
					.tg2{
						#omote{
							background-image: image-url("top/success2.png");
							background-position: center center;
							background-repeat: no-repeat;
							background-attachment: fixed;
							background-size: cover;
						}
						#ura{
							background-image: image-url("shops/chaka/main.jpeg");
							background-position: center center;
							background-repeat: no-repeat;
							background-attachment: fixed;
							background-size: cover;
						}
					}
					.tg3{
						#omote{
							background-image: image-url("top/success3.png");
							background-position: center center;
							background-repeat: no-repeat;
							background-attachment: fixed;
							background-size: cover;
						}
						#ura{
							background-image: image-url("shops/charaku/main.jpeg");
							background-position: center center;
							background-repeat: no-repeat;
							background-attachment: fixed;
							background-size: cover;
						}
					}
					.fuda{
						position:absolute;
						display:inline-block;
						transition:2s;
						backface-visibility:hidden;
						border-radius:15px;
					}
					#omote{
						transform:rotateY(180deg);
						padding:0.6em;
					}
					#ura{
						transform:rotateY(0deg);
					}
					#tg01:checked~#omote{
						transform:rotateY(0deg);
					}
					#tg01:checked~#ura{
						transform:rotateY(-180deg);
					}
					#tg02:checked~#omote{
						transform:rotateY(0deg);
					}
					#tg02:checked~#ura{
						transform:rotateY(-180deg);
					}
					#tg03:checked~#omote{
						transform:rotateY(0deg);
					}
					#tg03:checked~#ura{
						transform:rotateY(-180deg);
					}
					.el_name{
						margin: 140px 0 0;
					}
					.el_desc{

					}
				}
			}
		}
		.part_flow{
			.el_img{
				display: block;
				margin: 40px auto;
				width: 90%;
				aspect-ratio: 1173.47 / 534.19;
			}

			.el_text{
				text-align: center;
			}

			.el_button{
				text-align: center;
				display: block;
				width: 160px;
				margin: 10px auto 20px;
				padding: 5px 15px;
				text-decoration: none;
				color: #273548;
				border-radius: 20px;
				border: 1px solid #273548;
			}
		}
		.part_plan{
			background-color: #CFEAF8;
			overflow: hidden;
			.el_img{
				display: block;
				width: 90%;
				aspect-ratio: 1171.23 / 274.1;
				margin: 40px auto;
			}
		}
	}
}

//---------------------footer---------------------
.footer{
	&_inner{
		background-color: #ECECEC;
		display: flex;

		.el_img{
			width: 200px;
			display: block;
			margin: 20px 25px;

		}
		.el_container{

		}
	}
}
